.App {
  font-family: 'Hahmlet', serif;
  margin: 0px auto;
  width: 80%;
}

.header a {
  text-decoration: none;
  color: lightgray;
  margin-left: 20px;
}

.header a:hover {
  font-weight: bold;
}

.header span {
  margin-left: 20px;
}